/*style.css */

* {
	padding: 0;
	margin: 0;
}

body, html {
	font-family: 'Allerta Stencil', sans-serif;
	width: 100%;
	height: 100%;
	color: rgba(255,255,255,0.8);
}

#backToTop {
	position: fixed;
	width: 30px;
	bottom: 20px;
	right: 100px;
	z-index: 999;
}

#backToTop img {
	width: 60px;
}

*::selection{
	background-color: #1DCA7F;
}


p::first-letter {
	font-size: 25px;
}


/*________________________NAVIGATION______________________________*/

	nav {
		height: 50px;
		width: 100%;
		background-color: #181818;
		position: fixed;
		z-index: 999;
	}

		#navContainer {
			width: 95%;
			height: 100%;
			margin: auto;
		}

			/*LOGO*/
				#logo {
					float: left;
					width: 5%;
					height: 100%;
					box-sizing: border-box;
					margin-top: 5px;
				}
			/*END OF LOGO*/

			/* MENU */
				#mainMenu {
					float: right;
					width: 20%;
					height: 100%;
					box-sizing: border-box;
					display: table;
				}

					#mainMenu li {
						list-style: none;
						display: inline;
						padding: 10px;
						display: table-cell;
						vertical-align: middle;
					}

						#mainMenu li a {
							text-decoration: none;
							color: white;
							font-size: 12px;

							-ms-transition: all 0.5s linear 0s;
							-moz-transition: all 0.5s linear 0s;
							-webkit-transition: all 0.5s linear 0s;
							transition: all 0.5s linear 0s;
						}

						#mainMenu li a:hover {
							color: #1DCA7F;
							font-size: 14px;
						}

						#mainMenu li a:active {
							text-decoration: underline;
						}

			/* END OF MENU */ 

/*________________________________NAVIGATION______________________________________*/









/*__________________________________HEADER________________________________________*/

	header {
		background-color: #181818;
		width: 100%;
		height: 100%;
	}

		/* HEADING */
			#mainHeading {
				padding-top: 29%;
				padding-left: 9%;
				position: absolute;
				width: 60%;
				font-size: 1.5em;
				color: white;
				z-index: 998;
			}
		/* END OF HEADING */

		/* MAIN DOTED AREA */

			#mainDotsContainer {
				width: 95%;
				height: 100%;
				margin: auto;

				display: -ms-flex;
				display: -moz-flex;
				display: -webkit-flex;
				display: flex;

				-ms-flex-wrap: wrap;
				-moz-flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				flex-wrap: wrap;

				-ms-align-items: center;
				-moz-align-items: center;
				-webkit-align-items: center;
				align-items: center;
			}

				.rowDots {
					width: 100%;


					display: -ms-flex;
					display: -moz-flex;
					display: -webkit-flex;
					display: flex;


					-ms-align-items: center;
					-moz-align-items: center;
					-webkit-align-items: center;
					align-items: center;

					-ms-justify-content: space-between;
					-moz-justify-content: space-between;
					-webkit-justify-content: space-between;
					justify-content: space-between;
				}

					.rowDots .dot {
						width:8px;
						height:8px;
						border-radius: 50%;
						background: linear-gradient(#4c4c4c, #1DCA7F);
						animation: wave 5s linear infinite;
						
					}

						.rowDots .dot:nth-child(8), .rowDots .dot:nth-child(9) {
							width: 6px;
							height: 6px;
							animation-delay: 3s;
						}
						.rowDots .dot:nth-child(10), .rowDots .dot:nth-child(11) {
							width: 7px;
							height: 7px;
							animation-delay: 3.5s;
						}
						.rowDots .dot:nth-child(12), .rowDots .dot:nth-child(13) {
							width: 8px;
							height: 8px;
							animation-delay: 4s;
						}
						.rowDots .dot:nth-child(14), .rowDots .dot:nth-child(15), .rowDots .dot:nth-child(16) {
							width: 7px;
							height: 7px;
							animation-delay: 4.5s;
						}

						.rowDots .dot:nth-child(17), .rowDots .dot:nth-child(18), .rowDots .dot:nth-child(19) {
							width: 6px;
							height: 6px;
							animation-delay: 5s;
						}

						.rowDots .dot:nth-child(20), .rowDots .dot:nth-child(21), .rowDots .dot:nth-child(22) {
							width: 5px;
							height: 5px;
							animation-delay: 5.5s;
						}
						.rowDots .dot:nth-child(23), .rowDots .dot:nth-child(24), .rowDots .dot:nth-child(25), .rowDots .dot:nth-child(6), .rowDots .dot:nth-child(7)  {
							width: 4px;
							height: 4px;
						}

						.rowDots .dot:nth-child(26) {
							width: 3px;
							height: 3px;
							animation-delay: 6s;
						}

						.rowDots .dot:nth-child(27), .rowDots .dot:nth-child(4), .rowDots .dot:nth-child(5)   {
							width: 2px;
							height: 2px;
						}
						.rowDots .dot:nth-child(28), .rowDots .dot:nth-child(2), .rowDots .dot:nth-child(3)  {
							width: 1px;
							height: 1px;
						}

						.rowDots .dot:nth-child(30),.rowDots .dot:nth-child(1)  {
							width: 0.5px;
							height: 0.5px;
						}

					/* ANIMATION */

					@keyframes wave {
						0% {transform: initial;}
						30% {transform: translateY(-10px);}
						60% {transform: translateX(5px)}
						100% {transform: initial;}
						}

					/* END OF ANIMATION*/

		/* END OF MAIN DOTTED AREA */

/*__________________________________END OF HEADER________________________________________*/










/*____________________________________ MAIN __________________________________________*/

	main {
		height: 2500px;
		background-color: #191919;
	}

		/* ___________________ WHY US _________________*/

			#whyUs {
				height: 29%;
				width: 100%;
				font-size: 20px;
			}

				#whyUsHeader {
					width: 80%;
					height: 40%;
					margin: auto;
				}

					#whyUsHeading {
						display: table;
						height: 60%;
						width: 60%;
					}

						#whyUsHeader h3 {
							width: 100%;
							height: 100%;
							display: table-cell;
							vertical-align: middle;
						}

					#whyUsHeader p {
						height: 40%;
						width: 60%;
						font-family: 'Lato', sans-serif;
						font-size: 17px;
						color: rgba(255,255,255, 0.3);
					}


				#whyUsImg {
					width: 100%;
					height: 60%;
					box-sizing: border-box;
					padding: 20px;


					display: -ms-flex;
					display: -moz-flex;
					display: -webkit-flex;
					display: flex;

					-ms-justify-content: space-around;
					-moz-justify-content: space-around;
					-webkit-justify-content: space-around;
					justify-content: space-around;
				}

					.WhyUsImgContainer {
						height: 100%;
						width: 24%;
						padding: 10px;
						box-sizing: border-box;
						text-align: center;
					}

						.img {
							width: 100%;
							height: 85%;
						}

							.img img {
								    object-fit: contain;
								    width: 100%; 
								    height: 100%;
							}

						.WhyUsImgContainer h4 {
							height: 15%;
							text-transform: uppercase;
						}
		/* ______________ END OF WHY US ______________ */




/*********************************************************************************/
/**** GENERAL SETTINGS FOR ALL SECTIONS BELOW (portfolio, clients, contact) ******/


	/* Section Header */

	.sectionHeader {
		height: 20%;
}

		/* Section Dots*/

			.sectionDots {
				height: 100%;
				width: 15%;
				float: left;
				box-sizing: border-box;

				display: -ms-flex;
				display: -moz-flex;
				display: -webkit-flex;
				display: flex;

				-ms-flex-wrap: wrap;
				-moz-flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				flex-wrap: wrap;
			}

				.sectionRowDots {
					width: 100%;


					display: -ms-flex;
					display: -moz-flex;
					display: -webkit-flex;
					display: flex;


					-ms-align-items: center;
					-moz-align-items: center;
					-webkit-align-items: center;
					align-items: center;

					-ms-justify-content: space-around;
					-moz-justify-content: space-around;
					-webkit-justify-content: space-around;
					justify-content: space-around;
				}

					.sectionRowDots .dot {
						border-radius: 50%;
						background: linear-gradient(#4c4c4c, #1DCA7F);
						width:8px;
						height:8px;
						animation: wave 5s linear infinite;
					}
		/* End of section dots */


		/* Heading */

			.sectionHeading {
				float: left;
				width: 85%;
				height: 50%;
				padding-top: 20px;
				box-sizing: border-box;
			}

		/* End og Heading */



	/* Section header */



/***************************************************************/
/***** END OF GENERAL SETTINGS FOR ALL SECTIONS BELOW ************/



		/*________________ PORTFOLIO _______________*/

		#portfolio {
			width: 100%;
			height: 25%;
		}

			#slideshow {
			  width: 50%;
			  height: 80%;
			  overflow: hidden;
			  border: solid 1px white;
			  float: right;
			  margin-right: 30px;
			}

				.slideshowContainer {
				  width: 2830px;
				  height: 100%;
				  animation: slide 24s ease infinite;
				}

				.slideshowContainer:hover {
				  animation-play-state: paused;
				}

					.slideshowContainer img {
					  width: 700px;
					  height: 500px;
					  display: inline;
					}

				/* ANIMATION */

				@keyframes slide {
				  0%    {transform: translateX(0%);}
				  12.5% {transform: translateX(0%);}
				  25%   {transform: translateX(-25%);}
				  37.5% {transform: translateX(-25%);}
				  50%   {transform: translateX(-50%);}
				  62.5% {transform: translateX(-50%);}
				  75%   {transform: translateX(-75%);}
				  87.5% {transform: translateX(-75%);}
				  100%  {transform: translateX(0%);
				  	     opacity: 0.5;}
				 }

				/* END OF ANIMATION */

		/*________________ END OF PORTFOLIO _______________*/





		/* ______________ CLIENTS ________________  */


			#clients {
				width: 100%;
				height: 25%;
			}

				#clientLogosContainer {
					width: 90%;
					height: 80%;
					padding-top: 20px;
					margin: auto;
					box-sizing: border-box;


					display: -ms-flex;
					display: -moz-flex;
					display: -webkit-flex;
					display: flex;

					-ms-justify-content: space-around;
					-moz-justify-content: space-around;
					-webkit-justify-content: space-around;
					justify-content: space-around;


					-ms-align-items: center;
					-moz-align-items: center;
					-webkit-align-items: center;
					align-items: center;


					-ms-flex-wrap: wrap;
					-moz-flex-wrap: wrap;
					-webkit-flex-wrap: wrap;
					flex-wrap: wrap;
				}

					.clientImg {
						width: 23%;
						height: 23%;
						padding: 0px 10px;
					}

						.clientImg img {
							width: 100%;
							height: 100%;
							object-fit: contain;
						}

		/* ________________  END OF CLIENTS ________________  */





		/* ________________  CONTACT ________________  */

			#contact {
				width: 100%;
				height: 21%;
				background: linear-gradient(#62995c, #0fada4); 
			}


				#contactWrapper {
					width: 70%;
					height: 100%;
					margin: auto;
				}


				/* Call to Action */

					#contactCallToAction {
						float: left;
						width: 40%;
						height: 100%;
						box-sizing: border-box;
						font-size: 2em;
						text-transform: uppercase;
						display: table;
					}

						#contactCallToAction h2 {
							display: table-cell;
							vertical-align: middle;
						}
				/* End of Call to Action*/

		
				/* FORM  */ 

					#contact form{
						float: right;
						width: 50%;
						height: 100%;
						box-sizing: border-box;
						padding-top: 35px;
					}

						.inputGroup {
							padding: 10px 20px;
						}

							input, textarea {
								width: 100%;
								height: 30px;
								padding: 10px;
								border: none;
								border-bottom: solid 2px #c9c9c9;
								box-sizing: border-box;
								background-color: transparent;
								color: white;
								outline: none;
							}
						
								::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  				color: rgba(255,255,255, 0.5);
								}
								
								:-moz-placeholder { /* Firefox 18- */
									color: rgba(255,255,255, 0.5);
								}

								input:focus, textarea:focus{
									border-bottom: solid 2px #0fada4;
								}

								textarea {
									height: 150px;
								}

							.submitButton{
								color: #fff;
							    text-decoration: none;
							    text-transform: uppercase;
							    border: 1px solid rgba(255,255,255, 0.5);
							    margin-top: 20px;
							    height: 50px;
							}

								.submitButton:hover{
									background-color: #0fada4;
								}

				/* END OF FORM */

		/* ________________  END OF CONTACT ________________  */


/*_____________________________________END OF MAIN ___________________________________________*/










/*_____________________________________ FOOTER ___________________________________________*/

	footer {
		width: 100%;
		height: 175px;
		background-color: #181818;
	}

		#socialMedia {
			width: 80%;
			height: 100%;
			margin: auto;


			display: -ms-flex;
			display: -moz-flex;
			display: -webkit-flex;
			display: flex;

			-ms-justify-content: space-around;
			-moz-justify-content: space-around;
			-webkit-justify-content: space-around;
			justify-content: space-around;


			-ms-align-items: center;
			-moz-align-items: center;
			-webkit-align-items: center;
			align-items: center;
		}

			#socialMedia .socialMediaLogo {
				width: 4%;
			}

				.socialMediaLogo img {
					width: 100%;
					filter: grayscale();
					opacity: 0.3;
					object-fit: contain;
				}
/*_____________________________________ END OF FOOTER ___________________________________________*/



/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@ MEDIA QUERY @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/



/* Media Screen 800px*/

@media screen and (max-width: 800px) { 

		/* HEADING */
			#mainHeading {
				padding-top: 50%;
				width: 80%;
		}

		/* Contact */
				#contactWrapper {
					width: 90%;
					height: 100%;
					margin: auto;
				}

		/* Client Logos */
				#clientLogosContainer {
					width: 90%;
					padding: 0px;
				}

		/* Footer */
				#socialMedia {
					width: 90%;
				}

					#socialMedia .socialMediaLogo {
						width: 8%;
					}

		/* Why Us */

			/* Header */
				#whyUsHeading {
					width: 80%;
					height: 50%;
				}

				#whyUsHeader p {
					height: 50%;
				}

			/* Images */
				.WhyUsImgContainer {
					width: 35%;
				}


		/* Slideshow */

				#slideshow {
					 width: 70%; }

					.slideshowContainer {
					  width: 2190px;
					}

						.slideshowContainer img {
						  width: 539px;
						  height: 503px;
						}
	}





/* Media Screen 650px*/

@media screen and (max-width: 650px) { 

		/* Main */
				main {
					height: auto;
				}


		/* Header */
				#mainHeading {
					padding-top: 70%;
					width: 90%;
					font-size: 1em;
				}

		/* Why Us */

			#whyUs {
				width: 100%;
				font-size: 18px;
			}

				#whyUsHeader {
					width: 90%;
				}

					#whyUsHeading {
						width: 90%;
						padding: 10px;
						text-align: center;
					}

					#whyUsHeader p {
						width: 90%;
						font-size: 16px;
						text-align: center;
						padding: 10px;
					}


				#whyUsImg {
					padding: 20px;
					display: block;
				}

					.WhyUsImgContainer {
						width: 100%;
					}

						.img {
							width: 70%;
							margin: auto;
						}

/********* COMMON SETTINGS FOR ALL SECTIONS BELOW (portfolio, clients, contact) *******/

		#portfolio, #clients, #contact {
			width: 100%;
			height: 500px;
		}

	/* Section Header */
		.sectionHeader {
			height: 70px;
	}

		/* Heading */
			.sectionHeading {
				width: 50%;
				height: 100%;
				font-size: 13px;
			}

		/* End og Heading */

		/* Section Dots*/

			.sectionDots {
				box-sizing: border-box;
				width: 50%;
				height: 100%;
			}

		/* End of section dots */

	/* Section header */

/***** END OF GENERAL SETTINGS FOR ALL SECTIONS BELOW *********/




		/* PORTFOLIO */

			#slideshow {
			  width: 90%;
			  margin: auto;
			  height: 70%;
			  float: none;
			  margin-top: 30px;
			}

			.slideshowContainer {
			  width: 2160px;
			  height: 100%;
			}

				.slideshowContainer img {
				  width: 530px;
				  height: 357px;
				}


		/*END OF PORTFOLIO*/





		/* CLIENTS */

				#clientLogosContainer {
					width: 90%;
					padding: 11px;
				}

					.clientImg {
						width: 40%;
					}

		/*  END OF CLIENTS   */



				#contactWrapper {
					width: 90%;
					height: 100%;
					margin: auto;
				}

				#contactCallToAction {
					float: none;
					width: 100%;
					height: 20%;
					font-size: 1em;
					text-align: center;
				}

		
				/* FORM  */ 

					#contact form{
						float: none;
						width: 100%;
						padding-top: 0px;
						height: 80%;
					}

						textarea{
							height: 110px;
						}



			#socialMedia .socialMediaLogo {
				width: 10%;
			}
}


/* Media Screen 266px*/

@media screen and (max-width: 266px) { 


	#mainHeading h1 {
		padding-top: 90%;
	}

	#clients {
		height: auto;
	}

	.clientImg {
		width: 50%;
	}

}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@ END OF MEDIA QUERY @@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/






























/*_____________________________________________________________________________*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*_____________________________________________________________________________*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SEPARATE SITES >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*_____________________________________________________________________________*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/













/**********************************************************************************************/
/********************** COMMON SETTINGS FOR ALL SITES *****************************************/


	#contactSiteWrapper, #aboutSiteWrapper {
		height: 1000px;
		width: 100%;
	}

	#portfolioSiteWrapper {
		height: 1600px;
	}

	/* ASIDE */

	#aside {
		float: left;
		width: 20%;
		height: 100%;
		padding-top: 100px;
		box-sizing: border-box;
		background-color: #181818;
		text-align: center;
	}

		#asideDots {
			width: 90%;
			height: 100%;
			margin: auto;


			display: -ms-flex;
			display: -moz-flex;
			display: -webkit-flex;
			display: flex;

			-ms-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;

			-ms-align-items: center;
			-moz-align-items: center;
			-webkit-align-items: center;
			align-items: center;
		}

	/* END OF ASIDE */

	/* MAIN */

	#siteContent {
		float: right;
		height: 100%;
		width: 80%;
		box-sizing: border-box;
		background-color: #181818;
	}

	/* END OF MAIN */

/**********************************************************************************************/
/********************** END OF GENERAL SETTINGS FOR ALL SITES *****************************************/







/* ______________________________PORTFOLIO____________________________________*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*_____________________________________________________________________________*/


		#portfolioPhotos {
			width: 70%;
			height: 80%;
			margin: auto;
			padding-top: 120px;
			box-sizing: border-box;


			display: -ms-flex;
			display: -moz-flex;
			display: -webkit-flex;
			display: flex;

			-ms-flex-wrap: wrap;
			-moz-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;

			-ms-align-items: center;
			-moz-align-items: center;
			-webkit-align-items: center;
			align-items: center;

			-ms-justify-content: space-between;
			-moz-justify-content: space-between;
			-webkit-justify-content: space-between;
			justify-content: space-between;
		}

			.container {
			  position: relative;
			  width: 300px;
			  height: 250px;
			  margin-top: 40px;

			  text-align: center;
			  border: 1px solid white;
			}

				.container img {
					width: 100%;
					height: 100%;
					box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
					opacity: 0.8;
				}

				.container a {
					text-decoration: none;
					display: block;
					padding-top: 100px;
					color: white;
					opacity: 0.5;
				}

			.overlay {
			  position: absolute;
			  top: 0;
			  bottom: 0;
			  left: 0;
			  right: 0;
			  height: 100%;
			  width: 100%;
			  opacity: 0;
			  transition: .5s ease;
			  background: linear-gradient(#62995c, #0fada4);
			}

			.container:hover .overlay {
			  opacity: 0.7;
			}

			.text {
			  color: white;
			  font-size: 20px;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			}




	/* End of Main */

/* ____________________________________________________________________________*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*_____________________________END OF PORTFOLIO_________________________________*/









/* ______________________________ CONTACT ____________________________________*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*_____________________________________________________________________________*/

/* Contact */

			#contactContainer {
					width: 70%;
					height: 50%;
					margin: auto;
					padding-top: 120px;
					box-sizing: border-box;
				}


				#contactContainer form {
					height: 100%;
					width: 100%;
				}

					#leftPart {
						float: left;
						width: 50%;
						height: 80%;
						box-sizing: border-box;
					}

					#rightPart {
						float: right;
						width: 50%;
						height: 80%;
						box-sizing: border-box;
					}


							#rightPart .inputGroup textarea {
								height: 300px;

							}

						#checkGroup {
							width: 80%;
							margin: auto;
							font-size: 13px;
							font-family: Arial;
							opacity: 0.6;
							padding-top: 20px;
							box-sizing: border-box;
						}

							#checkGroup input {
								width: 20px;
								position: relative;
								top: 6px;
							}


			#map {
				width: 70%;
				margin: auto;
				height: 50%;
				padding: 50px;
				box-sizing: border-box;
			}

				#map iframe {
					width: 100%;
					height: 100%;
				}

/* ____________________________________________________________________________*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*_____________________________END OF CONTACT _________________________________*/









/* ______________________________ ABOUT ____________________________________*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*_____________________________________________________________________________*/

	#aboutContainer {
			width: 80%;
			height: 80%;
			margin: auto;
			padding-top: 120px;
			box-sizing: border-box;
		}


	/* __ ARTICLES __ */

		article {
			clear: both;
			height: 40%;
			width: 100%;
		}

			/* All Headings */

				article h4 {
					padding-bottom: 15px;
					color: #1DCA7F;
					font-size: 20px;
					text-transform: uppercase;
				}

			/* End of All Headings */

			/* Normal Article */

				.articleImg {
					float: left;
					width: 30%;
					height: 100%;
					box-sizing: border-box;
					padding-left: 15px;
				}

					.articleImg img, .opositeArticleImg img {
						width: 100%;
						height: 100%;
						object-fit: contain;
					}

				.articleContent {
					float: right;
					width: 70%;
					height: 100%;
					padding: 65px 30px;
					box-sizing: border-box;
					font-family: 'Lato', sans-serif;
					color: rgba(255,255,255,0.3);
				}

			/* End of Normal Article*/
			

			/* Opposite Article*/

			.opositeArticleImg {
				float: right;
				width: 35%;
				height: 100%;
				box-sizing: border-box;
			}

			.opositeArticleContent {
				float: left;
				width: 65%;
				height: 100%;
				box-sizing: border-box;
				padding: 70px 30px;
				text-align: right;
				font-family: 'Lato', sans-serif;
				color: rgba(255,255,255,0.3);
			}

			/* End of opposite article*/
/* ____________________________________________________________________________*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*_____________________________END OF ABOUT _________________________________*/

