/* style.css */
*{
	padding: 0;
	margin: 0;
}

#PageWrapper{
	margin: 100px 500px;
	width: 390px;
	height: 390px; 
	border: 5px solid white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.row{
	clear: both;
}

.square {
	border: 4px solid #453a36;
}

	/* FISRT ROW */
	#FirstPart {
		height: 70%;
	}
		
		/* SQUARES IN FIRST ROW */
		#first {
			float: left;
			width: 100%;
			height: 45%;
			box-sizing: border-box;
			background-color: pink;
			border-bottom: 8px solid #453a36;
		}

/*		#second {
			float: right;
			width: 75%;
			height: 100%;
			box-sizing: border-box;
			background-color: #ec4938;
		}*/

		#third {
			float: right;
			width: 100%;
			height: 55%;
			box-sizing: border-box;
			background-color: #fef9e6;
			border-top: 8px solid #453a36;
		}

	/* SECOND ROW */
	#SecondPart{
		height: 30%;
	}

		/* SQUARES IN SECOND ROW */
		#fourth {
			float: left;
			width: 25%;
			height: 100%;
			box-sizing: border-box;
			background-color: #409cc5;
		}

		#fifth {
			float: left;
			width: 75%;
			height: 100%;
			box-sizing: border-box;
			background-color: #fef9e6;
		}

/*		#sixth {
			float: right;
			width: 5%;
			height: 50%; 
			box-sizing: border-box;
			background-color: #fff4fb;
			border-bottom: 8px solid #453a36;
		}

		#seventh {
			float: right;
			width: 5%;
			height: 50%; 
			box-sizing: border-box;
			background-color: #fff4fb;
			border-top: 8px solid #453a36;
		}*/